<nz-card nzTitle="各社情セキ推進体制一覧" class="org-card">
  <!-- ツールバー：新規追加 -->
  <div class="org-toolbar">
    <nz-row nzGutter="16">
      <nz-col nzSpan="3">
        <button nz-button nzType="primary">メール作成</button>
      </nz-col>
      <nz-col nzOffset="2" nzSpan="5">
        <input nz-input placeholder="入力してください" [(ngModel)]="searchValue" />
      </nz-col>
      <nz-col nzSpan="3">
        <button (click)="searchByKeyword()" nz-button nzType="primary">検索</button>
      </nz-col>
    </nz-row>
  </div>

  <!-- ag-Grid 本体 -->
  <div class="org-grid">

    <nz-table 
      #nestedTable 
      [nzData]="rowData" 
      [(nzPageSize)]="rowData.length"
      [nzScroll]="{ x: '100%', y: '55vh' }"
      nzSize="small"
      nzTableLayout="fixed"
      nzBordered
      nzShowPagination="false"
      [nzLoading]="isLoading"
      >
      <thead>
        <tr>
          

          <th
            nzWidth="65px"
            [nzChecked]="checked"
            [nzIndeterminate]="indeterminate"
            nzLabel="Select all"
            (nzCheckedChange)="onAllChecked($event)"
          > 全</th>

          
          @for (col1 of listOfColumns1; track $index; let count = $index) {
            <th 
              [nzWidth]="col1.width"
              mwlResizable
              [enableGhostResize]="true"
              (resizing)="onResizeEnd($event, count)"
            >
              {{col1.name}}
              @if (count <= 8 && count >= 0) {

                <nz-filter-trigger
                  [(nzVisible)]="filterState[col1.key].visible"
                  [nzActive]="filterState[col1.key].active"
                  [nzDropdownMenu]="menu"
                  
                >
                  <nz-icon (click)="onFilterOpen(col1.key)" nzType="search"></nz-icon>
                </nz-filter-trigger>

                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ng-container
                    *ngTemplateOutlet="filterTemplate; context: { key: currentKey }">
                  </ng-container>
                </nz-dropdown-menu>

                
              }    
              <div
                class="resize-handle-right"
                mwlResizeHandle
                [resizeEdges]="{ right: true }"
              >
                <div class="resize-background"></div>
              </div>
            </th>
          }

        </tr>
      </thead>

      <tbody>
        @for (data of nestedTable.data; track $index) {
          <tr>
            @if (data.isMainRecord) {
              <td
                [rowSpan]="data.childrenNumber"              
                [nzChecked]="setOfCheckedId.has(data.id)"
                (nzCheckedChange)="onItemChecked(data.id, $event)"
              ></td>
              <!-- <td [rowSpan]="data.childrenNumber">
                <nz-row nzGutter="8" nzJustify="space-evenly">
                  <nz-col>
                    <button nz-button nzType="default">編集</button>
                  </nz-col>
                  <nz-col>
                    <button nz-button nzType="default">削除</button>
                  </nz-col>
                </nz-row>
              </td> -->
              <td [rowSpan]="data.childrenNumber">{{ data.companyCode1 }}</td>
              <td [rowSpan]="data.childrenNumber">{{ data.companyCode2 }}</td>
              <td [rowSpan]="data.childrenNumber">{{ data.companyType }}</td>
              <td [rowSpan]="data.childrenNumber">{{ data.companyName }}</td>
              <td [rowSpan]="data.childrenNumber">{{ data.companyNameEn }}</td>
              <td [rowSpan]="data.childrenNumber">{{ data.companyShortName }}</td>
              <td [rowSpan]="data.childrenNumber">{{ data.groupCode }}</td>
              <td [rowSpan]="data.childrenNumber">{{ data.region }}</td>
              <td [rowSpan]="data.childrenNumber">{{ data.country }}</td>
            }
            <td class="join-column">{{ roleCodeList[data.roleCode - 1] }}</td>
            <td class="join-column">{{ data.opsEmail }}</td>
            <td class="join-column">{{ data.opsUrl }}</td>
            <td class="join-column">{{ data.opsEmailUrl }}</td>
            <td class="join-column">{{ data.opsVulnerability }}</td>
            <td class="join-column">{{ data.opsInfo }}</td>
            <td class="join-column">{{ data.deptName }}</td>
            <td class="join-column">{{ data.location }}</td>
            <td class="join-column">{{ data.position }}</td>
            <td class="join-column">{{ data.personName }}</td>
            <td class="join-column">{{ data.personCode }}</td>
            <td class="join-column">{{ data.email }}</td>
            <td class="join-column">{{ data.emergencyContact }}</td>
            <td class="join-column">{{ data.language }}</td>
          </tr>
        }
      </tbody>
    </nz-table>

  </div>
</nz-card>

<ng-template #filterTemplate let-key="key">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">

      <nz-select [(ngModel)]="filterState[key].data.filterType1">
        <nz-option [nzValue]="1" nzLabel="部分一致"></nz-option>
        <nz-option [nzValue]="2" nzLabel="完全一致"></nz-option>
        <nz-option [nzValue]="3" nzLabel="不一致"></nz-option>
      </nz-select>
      <input type="text" nz-input placeholder="入力してください" [(ngModel)]="filterState[key].data.filterData1" />
      <div class="radio-toolbar" nz-flex nzJustify="space-evenly" nzAlign="center" >
        <nz-radio-group [(ngModel)]="filterState[key].data.logicCondition1">
          <label nz-radio [nzValue]="1">AND</label>
          <label nz-radio [nzValue]="2">OR</label>
        </nz-radio-group>
      </div>

      <nz-select [(ngModel)]="filterState[key].data.filterType2">
        <nz-option [nzValue]="1" nzLabel="部分一致"></nz-option>
        <nz-option [nzValue]="2" nzLabel="完全一致"></nz-option>
        <nz-option [nzValue]="3" nzLabel="不一致"></nz-option>
      </nz-select>
      <input type="text" nz-input placeholder="入力してください" [(ngModel)]="filterState[key].data.filterData2" />
      <div class="radio-toolbar" nz-flex nzJustify="space-evenly" nzAlign="center" >
        <nz-radio-group [(ngModel)]="filterState[key].data.logicCondition2">
          <label nz-radio [nzValue]="1">AND</label>
          <label nz-radio [nzValue]="2">OR</label>
        </nz-radio-group>
      </div>

      <nz-select [(ngModel)]="filterState[key].data.filterType3">
        <nz-option [nzValue]="1" nzLabel="部分一致"></nz-option>
        <nz-option [nzValue]="2" nzLabel="完全一致"></nz-option>
        <nz-option [nzValue]="3" nzLabel="不一致"></nz-option>
      </nz-select>
      <input type="text" nz-input placeholder="入力してください" [(ngModel)]="filterState[key].data.filterData3" />

      <div class="button-toolbar">
        <button (click)="onFilterSearchButton()" nz-button nzSize="small" nzType="primary" class="search-button">検索</button>
        <button (click)="onFilterClearButton()"  nz-button nzSize="small">クリア</button>
      </div>

    </div>
  </div>
</ng-template>