<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <!-- <a href="https://ng.ant.design/" target="_blank"> -->
        <img src="assets/aisin.png" alt="logo">
        <h1>推進体制登録サイト</h1>
      <!-- </a> -->
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">

      <!-- 各社情セキ推進体制一覧 -->
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType="team"></span>
        <span>各社情セキ推進体制一覧</span>
        <a routerLink="/org-list-v3"></a>
      </li>

      <!-- メンテナンス -->
      <li nz-menu-item nzMatchRouter>
        <nz-icon nzType="tool" nzTheme="outline" />
        <span>メンテナンス</span>
        <a routerLink="/maintenance"></a>
      </li>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" />
        </span>

        <div class="user-info">
          <span class="user-line">ユーザーID：{{ userCd }}</span>
          <span class="user-line">氏名：{{ userName }}</span>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
