<nz-card nzTitle="マスターメンテナンス">
  <nz-space nzDirection="vertical" nzSize="middle">
    <nz-card *nzSpaceItem nzTitle="会社情報メンテ">
      <nz-space nzSize="small">
        <button (click)="downloadCompanyData()" *nzSpaceItem nz-button nzType="default">ダウンロード</button>
        <button *nzSpaceItem nz-button nzType="default">アップロード</button>
        <button *nzSpaceItem nz-button nzType="default">ファイルの選択</button>
        <span class="body-text" *nzSpaceItem>選択なし</span>
      </nz-space>
    </nz-card>
  
    <nz-card *nzSpaceItem nzTitle="CSIRTフラグ情報メンテ">
      <nz-space nzSize="small">
        <button (click)="downloadCompanyRoleOpsData()" *nzSpaceItem nz-button nzType="default">ダウンロード</button>
        <button *nzSpaceItem nz-button nzType="default">アップロード</button>
        <button *nzSpaceItem nz-button nzType="default">ファイルの選択</button>
        <span class="body-text" *nzSpaceItem>選択なし</span>
      </nz-space>
    </nz-card>

    <nz-card *nzSpaceItem nzTitle="権限情報メンテ">
      <nz-space nzSize="small">
        <button (click)="downloadCompanyPermissionData()" *nzSpaceItem nz-button nzType="default">ダウンロード</button>
        <button *nzSpaceItem nz-button nzType="default">アップロード</button>
        <button *nzSpaceItem nz-button nzType="default">ファイルの選択</button>
        <span class="body-text" *nzSpaceItem>選択なし</span>
      </nz-space>
    </nz-card>
  
  </nz-space>

</nz-card>
