<nz-card nzTitle="マスターメンテナンス">
  <nz-space nzDirection="vertical" nzSize="middle">
    <nz-card *nzSpaceItem nzTitle="会社情報メンテ">
      <nz-space nzSize="small">
        <button (click)="downloadCompanyData()" *nzSpaceItem nz-button nzType="default">ダウンロード</button>
        <button (click)="uploadCompanyData()" *nzSpaceItem nz-button nzType="default">アップロード</button>
         <nz-upload *nzSpaceItem [(nzFileList)]="fileListCompany" [nzBeforeUpload]="beforeUploadCompany" [nzShowUploadList]="false">
          <button nz-button>
            ファイルの選択
          </button>
        </nz-upload>
        @if (fileListCompany.length > 0) {
          <span class="body-text" *nzSpaceItem>{{ fileListCompany[0].name }}</span>
          <button (click)="clearFileList('company')" *nzSpaceItem nz-button nzType="text">
            <nz-icon nzType="delete" nzTheme="twotone" nzTwotoneColor="#eb4949" />
          </button>
        } @else {
          <span class="body-text" *nzSpaceItem>選択なし</span>
        }
      </nz-space>
    </nz-card>
  
    <nz-card *nzSpaceItem nzTitle="CSIRTフラグ情報メンテ">
      <nz-space nzSize="small">
        <button (click)="downloadCompanyRoleOpsData()" *nzSpaceItem nz-button nzType="default">ダウンロード</button>
        <button (click)="uploadCompanyRoleOpsData()" *nzSpaceItem nz-button nzType="default">アップロード</button>
        <nz-upload *nzSpaceItem [(nzFileList)]="fileListCompanyRoleOps" [nzBeforeUpload]="beforeUploadCompanyRoleOps" [nzShowUploadList]="false">
          <button nz-button>
            ファイルの選択
          </button>
        </nz-upload>
        @if (fileListCompanyRoleOps.length > 0) {
          <span class="body-text" *nzSpaceItem>{{ fileListCompanyRoleOps[0].name }}</span>
          <button (click)="clearFileList('companyRoleOps')" *nzSpaceItem nz-button nzType="text">
            <nz-icon nzType="delete" nzTheme="twotone" nzTwotoneColor="#eb4949" />
          </button>
        } @else {
          <span class="body-text" *nzSpaceItem>選択なし</span>
        }
      </nz-space>
    </nz-card>

    <nz-card *nzSpaceItem nzTitle="権限情報メンテ">
      <nz-space nzSize="small">
        <button (click)="downloadCompanyPermissionData()" *nzSpaceItem nz-button nzType="default">ダウンロード</button>
        <button (click)="uploadCompanyPermissionData()" *nzSpaceItem nz-button nzType="default">アップロード</button>
        <nz-upload *nzSpaceItem [(nzFileList)]="fileListCompanyPermission" [nzBeforeUpload]="beforeUploadCompanyPermission" [nzShowUploadList]="false">
          <button nz-button>
            ファイルの選択
          </button>
        </nz-upload>
        @if (fileListCompanyPermission.length > 0) {
          <span class="body-text" *nzSpaceItem>{{ fileListCompanyPermission[0].name }}</span>
          <button (click)="clearFileList('companyPermission')" *nzSpaceItem nz-button nzType="text">
            <nz-icon nzType="delete" nzTheme="twotone" nzTwotoneColor="#eb4949" />
          </button>
        } @else {
          <span class="body-text" *nzSpaceItem>選択なし</span>
        }
      </nz-space>
    </nz-card>
  
  </nz-space>

</nz-card>
