<nz-card nzTitle="各社情セキ推進体制一覧" class="org-card">
  <!-- ツールバー：新規追加 -->
  <div class="org-toolbar">
    <button nz-button nzType="primary" (click)="openCreateModal()">新規追加</button>
  </div>

  <!-- ag-Grid 本体 -->
  <div class="org-grid">
    <ag-grid-angular
      style="width: 100%; height: 50vh;"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="rowData"
      [theme]="theme"
      (gridReady)="onGridReady($event)"
      (cellClicked)="onCellClicked($event)"
      (firstDataRendered)="onFirstDataRendered()">
    </ag-grid-angular>

  </div>
</nz-card>